@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  background: var(--primary-background);
}
button {
  background: var(--primary-color);
  color: var(--primary-background);
}
main {
  min-height: calc(100vh - 90px);
  background: var(--primary-background);
}
h1 {
  color: var(--primary-color);
}
